@page "/offertes/preview2/{OfferteId:int}"
@using BrentWiels.Data
@using BrentWiels.Viewmodels
@using BrentWiels.Data.Interfaces
@using BrentWiels

@inject IOfferteDataService OfferteService
@inject NavigationManager NavigationManager
@inject IJSRuntime js


    <div class="row">
        <div class="btn btn-primary" @onclick="(async () => await GoBack())">Terug</div>
    </div>
    <div class="container">
        <div id="downloadable">
            @((MarkupString)offerte);
        </div>
        
    </div>


@code {
    string offerte;
    OfferteViewModel offerteVM;
    [Parameter]
    public int OfferteId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        offerteVM = await OfferteService.GetOffertePreview(OfferteId);
        offerte = await OfferteService.GetOfferteHtml(OfferteId);
    }

    private async Task GoBack()
    {
        NavigationManager.NavigateTo($"detail/{offerteVM.Klant.Id}");
    }
}
