@page "/offerte/add/{KlantId:int}"
@using BrentWiels.Data
@using BrentWiels.Viewmodels
@using BrentWiels.Data.Interfaces

@inject IOfferteDataService OfferteService
@inject NavigationManager NavigationManager

<h1>Toevoegen</h1>

@if (offerte == null)
{
    <p><em>Loading...</em></p>
}
else
{
    

}

@code {
    OfferteViewModel offerte;

    protected override async Task OnInitializedAsync()
    {
        offerte = new OfferteViewModel();
    }

    protected async Task OnPost()
    {
    }
}
